body{
    background-color: #232931;
    color: #eeeeee;
}
img{
    width: 100ï¼…;
    height:250px;
    object-fit: cover;
}
.bgc-A{
    background-color: #232931;
}
.bgc-B{
    background-color: #393e46;
}
.bgc-C{
    background-color: #4ecca3;
}
.bgc-D{
    background-color: #eeeeee;
}
.tec-A{
    color: #232931;
}
.tec-B{
    color: #393e46;
}
.tec-C{
    color: #4ecca3;
}
.tec-D{
    color: #eeeeee;
}